@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');

*{
  margin: 0px;
  padding: 0px;
  font-size: 1em;
}

:root {
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: "Passion One", cursive;
    --fonte3: "Sriracha", cursive; 
}

html, body {
    min-height: 100vh;
    background-color: darkgrey;
    font-family: var(--fonte1);
}

header{
    background-color: black;
    text-align: center;
}

header > h1{
    color: white;
    padding-top: 50px;
    font-variant: small-caps;
    font-family: var(--fonte2);
    font-size: 10vw;
}

header p{
    padding-bottom: 50px;
    font-variant: small-caps;
    font-family: var(--fonte2);
    font-size: 20px;
}

header a, footer a {
    color: white;
    text-decoration: none;
}

header a:hover, footer a:hover{
    text-decoration: underline;
}

 main section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 30px;
    

}

section pre {
    white-space: pre-line;
    font-family: var(--fonte3);
    line-height: 2.5em;
    font-size: 2.8vw;
    padding-bottom: 25px;
}

section.normal{
    background-color: white;
    color: black;
    
}

section.imagem{
    background-color: rgb(46, 45, 45);
    color: white;
    background-size: cover;
    background-attachment: fixed;
    background-position: right center;
    box-shadow: inset 4px 13px 12px 2px rgba(0, 0, 0, 0.466);
    text-shadow: 4px 5px 5px black;
}

section.imagem > pre{
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.398);
    padding: 20px;
    box-shadow: -2px -2px 5px rgba(0, 0, 0, 0.382);
    border-radius: 10px 10px 0px 0px ;
}

section#imagem01 {
    background-image: url('../imagens/background001.jpg');   
}

section#imagem02{
    background-image: url('../imagens/background002.jpg');
}


footer{
    background-color: black;
    color: white;
    text-align: center;
    font-variant: inherit;
    padding: 40px;
    font-size: 2em;
    font-family: var(--fonte2);
}