@charset "UTF-8";


body {
    background-color: aqua;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    background-color: blue;
    font-size: 1.5em;
}

h2 {
    color: brown;
    font-size: 1.2em;
}

p {
    text-align: justify;
}
            
