@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Parisienne&family=Roboto:ital,wght@0,100..900;1,100..900&family=Ultra&display=swap');

@font-face {
    font-family:'Android';
    src: url('../fontes/IDroid.otf') format('opentype');

}

:root {
    --cor0:#dcd9cc;
    --cor1:#83e1ad;
    --cor2:#3ddc84;
    --cor3:#2fa866;
    --cor4:#1a5c37;
    --cor5:#063d1e;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --font-destaque: 'Bebas Neue', cursive;
    --font-android: 'Android', cursive;
}

* {
   margin: 0px;
   padding: 0px; 

}

body{
    background-color:var(--cor0);
    font-family: var(--fonte-padrao);
}

header{
    background-image: linear-gradient(to bottom, var(--cor3),var(--cor5),#073d1f);
    min-height: 150px;
    text-align: center;
    padding-top: 40px;
}

header > h1 {
    color: white;
    font-family: var(--font-destaque);
    padding-bottom: 20px;
    font-size: 3em;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.243);
}

header > p{
    color: white;
    font-size: 1.2em;
    max-width: 600px;
    margin: auto;
    padding-left: 10px;
    padding-right: 10px;
}

nav{
    background-color: var(--cor5);
    padding: 10px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.455);
    text-decoration: none;
}

nav > a{
    color: white;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition-duration: 0.3s;
}

nav > a:hover{
    background-color: var(--cor3);
    color: var(--cor5);

}

main{
    background-color: white;
    margin: auto;
    margin-bottom: 30px;
    padding-left: 10px;
    padding-right: 10px;
    max-width: 800px;
    min-width: 400px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.564);
    border-bottom-left-radius: 10px ;
    border-bottom-right-radius:10px; 
}

main  h1{
    color: var(--cor5);
    font-family: var(--font-android);
}

main h2{
    color: var(--cor4);
    font-family: var(--font-android);
    background-image: linear-gradient(to right,var(--cor1),transparent);
    font-size: 1.3em;
    text-indent: 0.3em;
}

main img {
    max-width: 2000px;
    display: block;
    margin: auto;
    border-radius: 10px;
}

main img.pequena{
    max-width: 350px;
}

main p{
    text-align: justify;
    text-indent: 2em ;
    margin: 15px 0px;
    font-size: 1em;
    line-height: 2em;
}

main strong{
    color: var(--cor4);
    font-size: 1.1em;
}

main a{
    color: var(--cor4);
    background-color: var(--cor1);
    text-decoration: none;
    font-weight: bold;
    padding: 2px 2px;
}

 main a.externo::after{
    content: '\1F517'
}

main a:hover{
    text-decoration: underline;
    background-color: #2fa866;
    color: #1a5c37;
}

div.video{
    background-color: var(--cor5);
    position: relative;
    margin-bottom: 40px;
    margin: 0px -10px 20px -10px;
    padding: 20px;
    padding-bottom: 50%;
    position: relative;
}

div.video > iframe{
    position: absolute;
    top: 4%;
    left: 2%;
    width: 95%;
    height: 90%;
}



aside{
    background-color: var(--cor0);
    border-radius: 5px;
    padding: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.454);
}

aside > h3{
   background-color: var(--cor4);
   margin: -9px -10px -5px -10px;
   padding: 10px;
   border-top-left-radius: 5px;
   border-top-right-radius: 5px;
   color: white;
}

aside > ul{
    columns: 2;
    list-style-position: inside;
    list-style-type: '\2714\00A0';
}

footer{
    background-color: var(--cor5);
    color: white;
    padding: 20px;
    text-align: center;
    font-weight: bold;
}