@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');

@font-face {
    font-family:'Saiyan-Sans';
    src: url('../fontes/Saiyan-Sans.ttf') format('truetype');
}

*{
    margin:0px;
    padding: 0px;
    font-size: 1em;

}

:root{
    --cor1: #730202;
    --cor2: #F20519;
    --cor3: #D98E04;
    --cor4: #F2CB05;
    --cor5: #F2E205;

    --fonte1: Arial, Helvetica, sans-serif;
    --fonte2:'Saiyan-Sans';
    --fonte3:"Sriracha", cursive;
}

body{

    background-image: linear-gradient(to left, var(--cor5),var(--cor4),var(--cor3) );
    font-family: var(--fonte1);
}


header{
    background-image: linear-gradient(to bottom, var(--cor2), var(--cor1));
    text-align: center;
}

header div#logo{
    display: inline-block;
    background-image: url('../imagens/Dragon_Ball_Z_Logo_A.png');
    background-size: 10%;
    background-repeat: no-repeat;
}

header h1{
    padding-top: 40px;
    font-family: var(--fonte2);
    font-size: 8vw;
}

header p{
    padding-bottom: 40px;
    font-family: var(--fonte1);
    font-variant: small-caps;
    font-weight: bolder;
    font-size: 30px;
    
}

main{
    padding: 10px;
    background-image: linear-gradient(to top, var(--cor1),va(--cor2));
    background-image: url('../imagens/Dragon_Ball_Z_Logo_A.png');
    background-repeat: no-repeat;
    background-position: right center ;
    background-attachment: fixed;
}

section{
 padding: 20px;
 height: 1400px;
 width: 600px;
 background-color: var(--cor2);
}

div#img1{
    background-image: url('../imagens/goku.jpg');
    background-attachment: fixed;
    background-repeat:no-repeat;
}

div#img2{
    background-image: url('../imagens/vegeta.jpg');
    background-attachment: fixed;
    background-repeat:no-repeat;

}

section#caixa1{
    border-radius: 10px 10px 0px 0px;
}

section#caixa2{
    border-radius: 0px 0px 10px 10px;
    
}

section h2{
    font-family: var(--fonte2);
    font-size: 3vw;
    padding-bottom: 10px;

}

section pre{
    font-family: var(--fonte3);
}
footer{
    background-color: var(--cor1);
    text-align: center;
    padding: 30px;
    font-family:var(--fonte2);
    font-size: 3vw;
}

