@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Parisienne&family=Roboto:ital,wght@0,100..900;1,100..900&family=Ultra&display=swap');

@font-face {
    font-family:'Robo';
    src: url('../fontes/ROBO.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


:root {
    --cor0: #dbf6eea1;
    --cor1: #D8FFDB;
    --cor2: #008F8C;
    --cor3: #015958;
    --cor4: #023535;

    --fonte-padrao: Arial, Verdana,Helvetica, sans-serif;
    --font-destaque: 'Bebas neue',cursive;
    --font-Robo: 'Robo',cursive;
}

*{
    margin: 0px;
    padding: 0px;

}

body{
    font-family: var(--fonte-padrao);
    background-color: var(--cor0);
}

header{
    background-image: linear-gradient(to bottom, var(--cor2), var(--cor4));
    padding-top: 40px;
    min-height: 150px;
    text-align: center;
    
}

header > h1 {
    font-family: var(--font-Robo);
    color: white;
    font-size: 3em;
    text-shadow: -1px 6px 2px rgba(0, 0, 0, 0.556);
    padding-bottom: 20px;

}

header > p{
    color: white;
    font-family: var(--font-destaque);
    font-size: 1em;
    max-width: 600px;
    padding-right: 10px;
    padding-left: 10px;
    margin: auto;
    text-shadow: 1px 4px 5px black;
    
}

nav{
    background-color: var(--cor2);
    padding: 20px;
    box-shadow: 9px 1px 7px 2px rgba(0, 0, 0, 0.44);
}

nav > a{
    text-decoration: none;
    padding: 10px;
    color: white;
    font-family: var(--font-destaque);
    border-radius: 2px;
    transition: 0.5s;
    font-weight: 2em;
}

nav > a:hover{
        background-color: #023535;
        color: var(--cor1);
}

main{
    background-color: rgba(255, 255, 255, 0.684);
    margin: auto;
    margin-top: 2px;
    max-width: 1200px;
    min-width: 400px;
    padding: 20px;
    margin-bottom: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.63) ;

}

main h2 {
    padding-bottom: 15px;
    font-family: var(--font-destaque);
    color: var(--cor3);
    font-size: 2em;
}

main p {
    text-align: justify;
    text-indent: 12px;
    line-height: 2em;
    font-size: 1em;

}

main strong{
    color: var(--cor4);
    background-color: var(--cor1);
}

main strong:hover{
    background-color: var(--cor2);

}

main img {
    display: block;
    margin: auto;
    border-radius: 10px;
    max-width: 600px;
    margin-top: 10px;
    margin-bottom: 15px;
}

footer{
    font-family: var(--font-Robo);
    background-color: var(--cor4);
    color: white;
    padding: 40px;
    text-align: center;
}