@charset "UTF-8";

body{
    background-image: linear-gradient(to left, rgb(18, 226, 253), rgb(25, 116, 219),rgb(9, 130, 146));
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    text-align: justify;
    text-indent: 20px;
}
#principal {
    font-size: 48px;
    text-align: center;
}

h1{
    color: rgb(219, 243, 243);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: left;
}

h2 {
    color: aqua;
    font-style: oblique;
}

.basico {
    color: rgba(36, 252, 25, 0.6);
}

.intermediario {
    color: rgba(255, 255, 0, 0.615);
}

.avancado {
    color: rgba(220, 25, 25, 0.79);
}