@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    height: 100;
}

body {
    background-image: linear-gradient(to right,#D6D58E,#DBF227);
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #7d972676;
    width: 700px;
    padding: 20px;
    margin: auto;
}

h1{
    color: #042940;
    text-align: center;
    text-shadow: 1px 1px 2px #02101842;
}

h2 {
    color: #005C53 ;
}

p {
    text-align: justify;
}